.contact-icon-container {
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact-icon-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-icon:hover {
    transform: scale(1.2);
}