html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.content-grid {
    height: 100vh;
    display: grid;
}

.background-image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100vh;
    object-fit:fill;
}

.content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-grid {
    background-color: rgb(67, 110, 67, 1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 500vh;
    display: grid;
    grid-template-rows: repeat(auto-fill, 100vh);
}

a {
    text-decoration: none;
}