html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.content-grid {
    height: 100vh;
    display: grid;
}

.background-image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100vh;
    object-fit:fill;
}

.content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}