.project-gallery {
    display: flex;
    height: 70%;
    width: 90%;
    gap: 20px;


}

.project-card {
    flex: 1;
    display: grid;
    background: linear-gradient(145deg, #161616 0%, #0a0a0a 100%);
    transition: flex 0.3s ease;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.project-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0.05;
    transition: opacity 0.15s;
}

.project-verticle-name {
    writing-mode: vertical-lr;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    z-index: 2;
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: opacity 0.15s;
}

.project-card-content {
    opacity: 0;
    background-color: rgb(23, 23, 23);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1vw;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(255, 255, 255);
    justify-self: center;
    align-self: end;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 0.1s;
}

.project-card-content-title {
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 5%;
}

.project-card-content-text {
    color: rgb(205, 205, 205);
    font-size: 1vw;
    margin-left: 5%;
}

.project-card:hover {
    .project-verticle-name {
        opacity: 0;
    }
    .project-card-img {
        opacity: 0.3;
    }

    .project-card-content {
        opacity: 1;
    }
    flex: 6;
    cursor: pointer;
}