.skill-gallery {
    display: flex;
    height: 16%;
    width: 90%;
    gap: 2vw;
    padding-bottom: 45vh;
    justify-content: center;
    align-items: center;
    

}

.skill-card {
    width: 10vw;
    height: 10vw;
    background: linear-gradient(145deg, #161616 0%, #0a0a0a 100%);
    transition: flex 0.3s ease;
    border-radius: 40px;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card-img {
    width: 70%;
    object-fit: cover;
}

.skill-card:hover {
    opacity: 0.8;
}


